<%- include('../partials/header'); -%>
<%- include('../partials/nav'); -%>

    <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            
      <% if ( error != '' ) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>info!</strong> <%= error %>            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <% } %>

            <div class="card my-5">
              <div class="card-header text-capitalize">
                <p class="display-6 ">edit password category for <%=result.type%> </p>
              </div>
              <div class="card-body">
                <form action="/password/update-password-category" method="post">
                  <div class="row">
                    <div class="col-md-4">
                      <strong>Category type</strong>
                    </div>
                    <input type="hidden" value="<%=result._id%>" name="update_id">
                    <div class="col-md-8">
                      <input type="text"  value="<%=result.type%>" required name="type" class="my-2 form-control">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4"> </div>
                    <div class="col-md-8">
                      <input type="submit"  value="update" class="btn btn-info">
                       <a class="alert-link" href="/password/list-category">view all category</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
  
    <%- include('../partials/footer.ejs'); -%>
