<%- include('../partials/header'); -%>
<%- include('../partials/nav'); -%>

    <div class="container"> 

      <% if ( error != '' ) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>info!</strong> <%= error %>            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <% } %>

        <h1 class="text-primary text-capitalized">password category details</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>


<% if (results.length>0) { %>

              <% results.forEach(function(category){ %>
             
              <tr>
                <td scope="row"><%= category.type%> </td>
                <td>
                  <a href="/password/edit-category/<%=category._id%>" class="btn mx-1 btn-danger"><i class="fa fa-pencil"></i>
                  </a><a href="/password/delete-category/<%=category._id%>" class="btn mx-1 btn-danger"><i class="fa fa-trash"></i></a>
                </td>
              </tr>

                  <% })  } %>

            </tbody>
          </table>
    </div>
  
    <%- include('../partials/footer.ejs'); -%>
